altgraph==0.17
args==0.1.0
astroid==2.4.0
autopep8==1.5.2
backcall==0.2.0
beautifulsoup4==4.8.2
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
clint==0.5.1
colorama==0.4.3
decorator==4.4.2
flake8==3.8.4
Flask==1.1.1
future==0.18.2
fuzzywuzzy==0.18.0
google==2.0.3
idna==2.9
importlib-metadata==2.0.0
infi.systray==0.1.12
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.10.3
jupyter-client==6.1.7
jupyter-core==4.6.3
keyboard==0.13.4
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mysql-connector==2.1.6
parso==0.7.1
pefile==2019.4.18
pick==0.6.4
pickleshare==0.7.5
Pillow==7.1.2
prompt-toolkit==3.0.5
pycodestyle==2.6.0
pyfiglet==0.8.post1
pyflakes==2.2.0
Pygments==2.6.1
PyInstaller==3.6
pylint==2.5.0
pystray==0.15.0
PySynth==2.3
python-dateutil==2.8.1
python-Levenshtein==0.12.0
pyusb==1.0.2
pywin32==228
pywin32-ctypes==0.2.0
pyzmq==19.0.2
requests==2.23.0
six==1.14.0
soupsieve==1.9.5
toml==0.10.0
tornado==6.1
traitlets==5.0.5
typed-ast==1.4.1
urllib3==1.25.9
usbdev==2019.11.5
virtualenv==16.0.0
wcwidth==0.1.9
Werkzeug==0.16.0
windows-curses==2.1.0
wrapt==1.12.1
zipp==3.4.0
